/* Global */
body {overflow-y:scroll;}
a {text-decoration:none;color:#000;} /* make all my links black with no underline */
.hide {display:none;} /* just add this class to an element to hide it */
.remove-margins-padding {padding:0px;margin:0px;}
.blur {color:#ccc;}
input.short_field {width:80px;}
span.delete_object {margin-left:1em;}
span.delete_object a {color:#bfbfbf;}
span.delete_object img {margin-bottom:-3px;}

/* flash messages */
#header div.flash {position:fixed;top:1em;right:1em;z-index:0;text-align:right;font-size:1.2em;color:#555;}

/* login page */
body#login {width:600;margin:auto;text-align:center;}
body#login h1 {margin-top:5em;}
body#login div#content {width:300px;margin:auto;text-align:left;}
body#login fieldset {border:1px solid #444;padding:1em 1.5em;width:300px;}

/* Setup my layout */
#header {position:fixed;top:0;left:0;z-index:10;width:100%;height:49px;}
#footer {position:fixed;bottom:0;left:0;z-index:10;width:100%;height:29px;}
#sidebar {position:fixed;top:50px;left:0;width:240px;overflow-y:scroll;} /* we use javascript to set the height */
#center {position:absolute;top:50px;left:240px;z-index:0;} /* we use javascript to set the width */

/* Header styles */
#header {background:url("../images/header_bg.png") repeat-x;border-bottom:1px solid #404040}
#header h1 {display:none;}
#header ul {position:absolute;top:16px;}
#header ul li {display:inline;}

/* Footer stlyes */
#footer {background:#b5b5b5 url("../images/footer_bg.png") repeat-x fixed center;border-top:1px solid #404040;}
#footer .col1 {position:absolute;top:5px;left:5px;}
#footer .col2 {position:absolute;top:5px;left:240px;}
#footer .col3 {position:absolute;top:5px;right:5px;}
#footer a {color:#252525;padding:2px 5px;background:url("../images/footer-button-itu-inactive.png") repeat-x -5px;border:1px solid #494949;-moz-border-radius:2px;-webkit-border-radius:2px}
#footer a img {margin-bottom:-4px;}
#footer a:hover {background:url("../images/footer-button-itu-active.png") repeat-x -5px;}

/* Sidebar styles */
#sidebar {background-color:#d1d7e2;}
#sidebar h2 {font-size:1em;font-weight:bold;color:#666;margin:.5em .5em 0;}
#sidebar ul {list-style:none;padding:0px;margin:0px;}
#sidebar ul li {position:relative;}
#sidebar ul li a {margin-left:20px;padding-left:22px;line-height:20px;display:block;}
#sidebar ul.itu li.selected {background:url("../images/sidebar-itu-active.png") repeat-x;}
#sidebar ul li.selected a {font-weight:bold;color:#fff;}
#sidebar ul.m li.selected {background:url("../images/sidebar-m-active.png") repeat-x;}
#sidebar ul.m li {padding:2px 0;}
#sidebar ul.m li span {color:#fff;font-size:8pt;font-weight:bold;position:absolute;top:4px;right:1.5em;background-color:#8097bd;padding:0px 8px;-moz-border-radius:8px;-webkit-border-radius:8px}
#sidebar ul.m li.selected span {background-color:#fff;color:#8499c5}

#sidebar .person {background:url("../images/icons/user_gray.png") no-repeat 0px 2px;}
#sidebar .company {background:url("../images/icons/building.png") no-repeat 0px 2px;}
#sidebar .device {background:url("../images/icons/computer.png") no-repeat 0px 2px;}
#sidebar .red_tag {background:url("../images/icons/tag_red.png") no-repeat 0px 2px;}
#sidebar .yellow_tag {background:url("../images/icons/tag_yellow.png") no-repeat 0px 2px;}
#sidebar .orange_tag {background:url("../images/icons/tag_orange.png") no-repeat 0px 2px;}
#sidebar .green_tag {background:url("../images/icons/tag_green.png") no-repeat 0px 2px;}
#sidebar .blue_tag {background:url("../images/icons/tag_blue.png") no-repeat 0px 2px;}
#sidebar .ping_tag {background:url("../images/icons/tag_pink.png") no-repeat 0px 2px;}

/* Center (Main Content) styles */
#center {padding-bottom:4em;}
#center h2 {font-weight:bold;font-size:1.5em;color:#404040;margin:.5em 1em 0;padding:0px;}
#center h3 {font-weight:bold;font-size:1.3em;color:#505050;margin:.5em 1em 0;padding:0px;}
#center h4 {font-weight:bold;font-size:1.2em;color:#606060;margin:.5em 1em 0;padding:0px;}
#center p {margin:.5em 1.5em;padding:0px;}
#center ol.align, #center ul.align {margin:.5em 3em;padding:0px;}
form#content_search {padding:5px;background-color:#ccc;border-bottom:1px solid #505050;position:relative;}

/* Tables */
table.itu {border-bottom:1px solid #505050;width:100%;}
table.itu th {background:url("../images/table-header-bg.png") repeat-x;border-bottom:1px solid #505050;border-right:1px solid #a1a1a1;}
table.itu th div {color:#303030;font-size:9pt;display:block;padding:1px 4px 0px;border-left:1px solid #e0e0e0;}
table.itu tr td {border-right:1px solid #d9d9d9;}
table.itu tr.odd td {background-color:#fff;}
table.itu tr.even td {background-color:#f1f5fa;}
table.itu tr td a {padding:1px 5px;color:#404040;display:block;}
table.itu tr.table-row-selected td {color:#fff;background-color:#3d80df;border-right:1px solid #346dbe}
table.itu tr.table-row-selected td a {color:#fff;}
table.m {margin-top:1em;}
table.m th {padding:2px 6px;background-color:#fff;}
table.m th.first {text-align:right;font-weight:bold;color:#bbb;padding-right:3px;}
table.m td {padding:2px 6px;}
table.m td.first {text-align:right;font-weight:bold;color:#bbb;padding-right:3px;}
table.m td a {padding:1px 6px;border:1px solid #fff;margin-left:-6px;}
table.m td a:hover {background-color:#bbcef1;border:1px solid #6595e0;-moz-border-radius:8px;-webkit-border-radius:8px}
table.tablesorter thead tr .headerSortUp {background-image: url("../images/tablesorter/asc.gif");}
table.tablesorter thead tr .headerSortDown {background-image: url("../images/tablesorter/desc.gif");}

/* Tabs */
ul.ui-tabs-nav {margin:1em 1em 0;}
div.ui-tabs-panel {margin:0 1em;padding:.5em 0;}
div.ui-tabs-panel table.itu {font-size:12px;border-top:1px solid #505050;border-left:1px solid #505050;border-right:1px solid #505050;}
div.ui-tabs-panel table.itu tr th {padding:3px 0;}
div.ui-tabs-panel table.itu tr td {padding:2px 5px;}
.ui-tabs-panel-padding {padding:1.2em;}

/* Forms */
input[title=Street] {width:15em;}
input[title=City] {width:10em;}
input[title=State] {width:2em;}
input[title=Zip] {width:4em;}

/* Toolbars */
.fg-button { outline: 0; margin:0 4px 0 0; padding: .4em 1em; text-decoration:none !important; cursor:pointer; position: relative; text-align: center; zoom: 1; }
ul.toolbar {margin:1em 1em;padding:0;}
ul.toolbar li {list-style:none;display:inline;}
div.toolbox {padding:0px 10px 10px;margin:1em 0;border:1px solid #ddd;-moz-border-radius:5px;-webkit-border-radius:5px;}

/* autocomplete */
.auto_select_results {padding: 0px;border: 1px solid WindowFrame;background-color: Window;overflow: hidden;}
.auto_select_results ul {width: 100%;list-style-position: outside;list-style: none;padding: 0;margin: 0;}
.auto_select_results iframe {display:none;/*sorry for IE5*/display/**/:block;/*sorry for IE5*/position:absolute;top:0;left:0;z-index:-1;filter:mask();width:3000px;height:3000px;}
.auto_select_results li {margin: 0px;padding: 2px 5px;cursor: pointer;display: block;width: 100%;font: menu;font-size: 12px;overflow: hidden;}
.auto_select_loading {background : Window url('./indicator.gif') right center no-repeat;}
.auto_select_selected {background-color: Highlight;color: HighlightText;}

/* itunes buttons */
div#screen {
  position:absolute;
  top:6px;
  left:50%;
  margin-left:-20%;
  width:40%;
  height:35px;
  background: url("../images/screen_bg.jpg") repeat-x -1px;
  border:1px solid #666;
  -moz-border-radius:4px;-webkit-border-radius:4px;
}
div#screen p {
  margin-top:9px;
  text-align:center;
  font-weight:bold;
  font-size:12px;
}
a#play {
  position:absolute;
  top:6px;
  left:95px;
  height:37px;
  width:37px;
  background: url("../images/play.png");
}
a#stop {
  position:absolute;
  top:6px;
  left:95px;
  height:37px;
  width:37px;
  background: url("../images/stop.png");  
}
a#previous {
  position:absolute;
  top:6px;
  left:55px;
  height:37px;
  width:37px;
  background: url("../images/previous.png");  
}
a#next {
  position:absolute;
  top:6px;
  left:135px;
  height:37px;
  width:37px;
  background: url("../images/next.png");  
}