#sidebar .library_music {background:url("../images/icons/music.png") no-repeat 0px 2px;}
#sidebar a#trash {background:url("../images/icons/bin.png") no-repeat 0px 2px;}
#sidebar .playlist {background:url("../images/icons/cd.png") no-repeat 0px 2px;}
#sidebar a#import_from_folder {background:url("../images/icons/basket_put.png") no-repeat 0px 2px;}

.ui-dialog-overlay {background-color:#000;opacity:0.6;}

img.handle {display:block;padding:0 10px;margin-right:0;}

#importing_from_folder_dialog {text-align:center;}
#importing_from_folder_dialog img {margin-left:-63px;}

span#totals {}

#sidebar .location {background:url("../images/icons/building.png") no-repeat 0px 2px;}

div#playlists ul {list-style:none;margin:0;padding:0;}
div#playlists ul li {margin:5px;}
div#playlists ul li a {display:block;padding:.5em .7em;background-color:#eee;}