<div id="songs" highlight="playlist_<%= @playlist.id %>"></div>
<h2>Edit Playlist</h2>
<% form_for @playlist do |f| %>
  <p>Name: <%= f.text_field :name %></p>
  <p><%= f.submit "Update" %></p>
<% end %>

<script>
  $(document).ready(function() {
    $('input#playlist_name').focus();
  });
</script>