<h2>Location Instructions</h2>
<p>To create a new location click the + Location in the lower left of this window.</p>
<p>To open a location just click on it in the left column. From there you can then edit the location by clicking the Edit button in the lower left, same goes for delete.</p>